NODE_ENV=development
PORT=3000
LOG_LEVELS=log,error,warn,debug,verbose,fatal

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_LOGGING=false

OBSERVE_APP_KEY=changeme
OBSERVE_APP_SECRET=changeme
OBSERVE_SERVICE_ID=changeme

SUPER_ADMIN_EMAIL=superadmin@example.com

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=changeme@gmail.com
SMTP_PASSWORD=changeme

SESSION_TTL_HOURS=24
SESSION_IDLE_TIMEOUT_MINUTES=120
